<div class="text-center">
  <h1>近畿地方の着物情報</h1>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://www.kimonoichiba.com/media/cms/img/splat/x1584419615_0.jpg.pagespeed.ic.uma0KzJqUs.jpg", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">京友禅</h5>
                <p class="card-text">「加賀友禅」や「東京友禅」とともに日本三大友禅の一つとされています。</p>
                <p class="card-text"><small class="text-muted">京都で生産されている友禅染。多色使いで優美なデザインなものが多く、金銀箔や刺繍もよく用いられているのが特徴です。京友禅は、元禄年間（1688年～1703年）に扇絵師の宮崎友禅斎によって考案されたと言われており、友禅の名称は宮崎友禅斎の名前がもとになっているそうです。色彩豊かで絵画のように緻密な模様を着物に染める友禅染は、人々に絶大な人気を博し全国的に広まっていきました。明治時代になると、型紙で友禅模様を染める写し友禅が考案されました。これが現在の「型友禅」と呼ばれるもので、大量生産が可能となり、友禅染が多くの人々に広がっていきました。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://thetango.kyoto/wp/wp-content/uploads/2018/03/29829980_1555813724533393_1946993650_o.jpg", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">丹後縮緬（たんごちりめん）</h5>
                <p class="card-text">京都府の丹後地方で生産されている絹織物。生地全面に細かい凸凹状のシボがあることにより、シワがよりにくく、しなやかな風合いに優れていることが特徴です。</p>
                <p class="card-text"><small class="text-muted">浜縮緬とともに縮緬の二大産地とされています。丹後縮緬は、江戸時代の享保年間（1716年～1735年）に西陣より縮緬織の技術を導入し、織り始められたと言われています。現在の京都府北部にあたる丹後国に存在していた峰山藩による保護政策などもあって、縮緬織が広まっていきました。その後、大正時代頃に力織機が導入されことにより産地規模も拡大し、また、時代に合った新商品を開発しながら発展していきました。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>


<div class="text-center">
<h1>近畿地方のお着物一覧</h1>
</div>

<% if @items.present?%>
  <%= render "shared/kimono" %>
<% else %>
  <%= "近畿地方のお着物はまだ出品されていません。" %>
  <%= "良かったら、お家に眠っているお着物を出品してみませんか？" %>
<% end %>