<div class="text-center">
  <h1>関東地方の着物情報</h1>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://kimono-kitai.info/wp-content/uploads/2019/01/MG_2760.jpg", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">結城紬</h5>
                <p class="card-text">結城紬は、1956年（昭和31年）に「糸つむぎ・絣くくり・地機（じばた）織り」の3工程が国の重要無形文化財として指定。卓越した技工は世界的にも守るべき貴重な技として、2010年（平成22年）にはUNESCO無形文化遺産にも登録されました。</p>
                <p class="card-text"><small class="text-muted">本場結城紬の一番の特徴は、真綿から手でつむぎだす糸にあります。真綿は、蚕の繭を煮て柔らかくして広げたもので、やわらかく、空気をたくさん含むために温かく、とても心地良く優しい素材です。この真綿から人の手で糸をつむぎ出すことで、素材の良さを損なわない、最上質の糸ができあがります。日本全国に数ある紬の中でも、縦糸・横糸の両方に手つむぎ糸を使うのは本場結城紬だけです。これが、本場結城紬が最高峰の絹織物とされる由縁です。そしてその本質的な上質さは、古来より多くの人々を魅了してきました。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://www.hachijo.gr.jp/39rhf0e/wp-content/uploads/2017/03/CSC_0130.jpg", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">日本三大紬「黄八丈」</h5>
                <p class="card-text">黄八丈は、黄色、樺色、黒色の3色を基調とした絹織物です。染料は島内に自生している植物の草木染で、黄色は八丈刈安（コブナ草）、樺色はマダミ（タブの木）の樹皮、黒色は椎の木の樹皮と沼浸けで染めて行きます。</p>
                <p class="card-text"><small class="text-muted">結城紬は日本3大紬の一つに必ず数えられる日本を代表する紬です。一疋（二反分）の長さが曲尺で八丈（約24ｍ）に織られていた事が「八丈島」の由来とも言われています。年貢の代わりに貢納布として幕府に納められていた他、江戸時代後期には「恋娘昔八丈」という人形浄瑠璃で「黄八丈」の衣装が採用され、後に歌舞伎として上演されて爆発的な人気を誇ったと伝えられています。経済産業省伝統的工芸品として、また東京都産業労働局東京の伝統工芸品としても、「本場黄八丈」が指定を受けています。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>


<div class="text-center">
<h1>関東地方のお着物一覧</h1>
</div>

<% if @items.present?%>
  <%= render "shared/kimono" %>
<% else %>
  <%= "関東地方のお着物はまだ出品されていません。" %>
  <%= "良かったら、お家に眠っているお着物を出品してみませんか？" %>
<% end %>