<div class="text-center">
  <h1>四国地方の着物情報</h1>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://funfun-tokushima.jp/img/ai15.jpg", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">阿波藍染め</h5>
                <p class="card-text">徳島県で行われている藍染。</p>
                <p class="card-text"><small class="text-muted">はっきりとした年代はわかりませんが、古くから藍染の原料である藍が栽培されてたと言われています。1585年に蜂須賀家政が阿波国に国主として入国し、藍の栽培を保護・奨励したことにより、本格的な産業として藍の栽培が行われるようになったそうです。その後、吉野川流域は藍の生育に適した肥沃な土地だったため、日本一の藍の産地となっていきました。江戸時代には、「藍と言えば阿波藍」と言われるほどになり、全国の市場をほぼ独占。現在、栽培・加工技術の改善向上や新用途の開拓など、様々な活動が行われています。なお、徳島県内には藍染体験のできる施設がたくさんあります。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://hachiichi.style/paper/wp-content/uploads/sites/2/2018/11/DSCN5817_ud.jpg", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">伊予絣（いよかすり）</h5>
                <p class="card-text">愛媛県松山市で生産されている絣織物。福岡の「久留米絣」、広島の「備後絣」とともに日本三大絣の一つとされています。</p>
                <p class="card-text"><small class="text-muted">伊予絣は、享和年間（1801年～1803年） に、現在の松山市西垣生町付近にあたる今出の出身の鍵谷カナという方によって創作された織物だと言われています。現在、生活の洋風化とともに着物の需要は低下し、着尺の生産はごく少量となっています。なお、松山市内にある「民芸伊予かすり会館」では、機織の実演を見ることができるほか、かすり製品を買い求めることができます。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>

<div class="text-center">
<h1>四国地方のお着物一覧</h1>
</div>

<div class="container">
  <div class="row row-cols-5">
<% @items.each do |item| %>
 <div class="card" style="width: 18rem;">
        <%= link_to image_tag(item.image, class:"bd-placeholder-img card-img-top", width:"200", height:"200"), item_path(item.id), method: :get %>
      <div class="card-body">
        <h5 class="card-title">お名前：<%= item.title %></h5>
        <p class="card-text">地方名：<%= item.region.name %></p>
        <p class="card-text">種類：<%= item.genre.name %></p>
      </div>
  </div>
<% end %>
  </div>
</div>