<div class="card bg-white text-black border-white">
  <%= image_tag "https://kyoto-kirari.jp/wp-content/uploads/2019/02/ci_01-1.jpg", class:"bd-placeholder-img card-img-top", height:"400" %>
  <div class="card-img-overlay mt-4">
    <div class="top-title">
      <h1>WELCOME</h1>
      <h1>to</h1>
      <h1>KimonoLovers</h1>
    </div>
  </div>
</div>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card bg-white text-black border-white">
        <%= image_tag "https://vasara-h.co.jp/.file/public/2018/12/21/e3a84a42963b6914b20312ee2060a45e/pixta_25013777_M.jpg", class:"bd-placeholder-img card-img-top", height:"600" %>
        <div class="card-img-overlay">
          <h1 class="card-title">KimonoLoversとは？</h1>
          <h4 class="card-text">全国の着物好きな皆さんの交流の場になることを目的としたサービスです。</h4>
          <p class="card-text">近年、着物業界は、「後継者不足」が叫ばれています。</p>
          <p class="card-text">職人さん達の平均年齢はどんどん上がっており、廃業を余儀なくされている方もいらっしゃいます。</p>
          <p class="card-text">しかし、「後継者」とは、必ずしも「作り手」だけではなく、「使い手」もまた後継者の一人です。</p>
          <p class="card-text">日本には今でも職人さん達が命を削って、創作されたお着物が日々、生まれています。</p>
          <p class="card-text">そうしたお着物に恋をした皆様が、思い入れのあるお着物を出品していただくことで、</p>
          <p class="card-text">素敵な作品がより多くの方の目に留まることを願っています。</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card bg-white text-white border-white">
        <%= image_tag "https://happy-photo-studio.jp/upload/data/images/7edd0c2f3942e6ece62a25a4af61ed4f1562067958.JPG", class:"bd-placeholder-img card-img-top", width: "800", height:"600" %>
        <div class="card-img-overlay">
          <h2 class="card-text">出品方法は簡単３STEP！</h2>
          <h6 class="card-text">STEP１：右上から「ログイン」、もしくは「新規登録」をしましょう。</h6>
          <h6 class="card-text">STEP２：右上の「出品する」ボタンをクリック！</h6>
          <h6 class="card-text">STEP３：上から順番に入力し、「出品する」ボタンを押して終了です！</h6>
          <h6 class="card-text">出品すると、全国の皆様から、コメントをいただけます！</h6>
          <h4 class="card-text">さあ、いますぐ出品してみませんか？</h4>
        </div>
      </div>
    </div>
   <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
</div>



<div class="text-center m-5">
  <h4>INFORMATION</h4>
</div>
<div class="text-center m-4">
  <h6>着物好きな方のための交流サイトをオープンしました。たくさんの方のご参加をお待ちしております！</h6>
</div>

<div class="text-center mt-5">
  <h4><strong>いいねランキング</strong></h4>
</div>
<div class="container">
  <div class="row row-cols-3 mx-5">
    <% @all_ranks.each.with_index(1) do |item, i| %>
      <div class="card-deck">
        <div class="card border-white mt-3">
          <%= link_to image_tag(item.image, class:"card-img", width:"400", height:"400"), item_path(item.id), method: :get %>
          <div class="card-img-underlay">
            <h3 class="card-title">第<%= i %>位</h3>
            <h3 class="card-title mx-4">👍<%= item.liked_users.count %></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# 日本地図 %>
<div class="text-center mt-5">
<p class="font-weight-bold">
  <h4>地図をクリックして、地方ごとのお着物を見に行きませんか？</h4>
</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <nav class="nav flex-column">
       <p class="nav-link active">エリア名</p>
       <p>もっと、日本に逢いに行きましょう</p>
        <a class="nav-link" href="https://kimonolovers.herokuapp.com/hokkaidos">北海道</a>
        <a class="nav-link" href="https://kimonolovers.herokuapp.com/touhokus">東北</a>
        <a class="nav-link" href="https://kimonolovers.herokuapp.com/kantos">関東</a>
        <a class="nav-link" href="https://kimonolovers.herokuapp.com/tyubus">中部</a>
        <a class="nav-link" href="https://kimonolovers.herokuapp.com/kinkis">近畿</a>
        <a class="nav-link" href="https://kimonolovers.herokuapp.com/sikokus">中国</a>
        <a class="nav-link" href="https://kimonolovers.herokuapp.com/sikokus">四国</a>
        <a class="nav-link" href="https://kimonolovers.herokuapp.com/kyusyus">九州</a>
        <a class="nav-link" href="https://kimonolovers.herokuapp.com/okinawas">沖縄</a>
      </nav>
    </div>

    <div class="col">
      <div id="map-container"></div>
    </div>

     <div class="col-md-auto">
      <nav class="nav flex-column">
        <p class="nav-link active">カテゴリー別</p>
        <a class="nav-link" href="http://localhost:3000/hokkaidos">留袖</a>
        <a class="nav-link" href="http://localhost:3000/touhokus">色留袖</a>
        <a class="nav-link" href="http://localhost:3000/kantos">付下</a>
        <a class="nav-link" href="http://localhost:3000/tyubus">色無地</a>
        <a class="nav-link" href="http://localhost:3000/kinkis">小紋</a>
        <a class="nav-link" href="http://localhost:3000/sikokus">紬</a>
        <a class="nav-link" href="http://localhost:3000/sikokus">浴衣</a>
        <a class="nav-link" href="http://localhost:3000/kyusyus">その他</a>
      </nav>
    </div>

   
  </div>
</div>
<%# /日本地図 %>

<%# 着物一覧 %>
<div class="top-item">
<div class="text-center pt-5">
<h4>NEW ARRIVAL</h4>
<%= search_form_for @p, url: items_search_path do |f| %>
  <%= f.label :title_eq, 'タイトル検索' %>
  <%= f.collection_select :title_eq, @item_title, :title, :title,  include_blank: '選択してください' %>
  <%= f.submit '検索' %>
<% end %>
</div>
<%= render "shared/kimono" %>
</div>
<%# /着物一覧 %>

