 <div class="text-left m-5">
  <%= form_with(model: @item, local: true) do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

　　<div class="form-group">
    <label for="exampleFormControlFile1">お着物の写真を下の「ファイルを選択」ボタンからお選びください</label>
    <h6> </h6>
    <%= f.file_field :image, id:"exampleFormControlFile1" %>
  </div>
  <label for="exampleFormControlInput1">お着物の名前</label>
  <div class="form-group">
    <%= f.text_field :title, class:"form-control", id:"exampleFormControlInput1", placeholder:"例）本場奄美大島で泥染めをした大島紬" %>
   </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">地方選択</label>
    <%= f.collection_select(:region_id, Region.all, :id, :name, {}, {class:"form-control"}) %>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">種類選択</label>
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"form-control"}) %>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">説明文</label>
    <%= f.text_area :explanation, class:"form-control", id:"exampleFormControlTextarea1", rows:"3", maxlength:"1000" %>
  </div>
  <p></p>

      <%= f.submit "出品する" ,class:"btn btn-primary btn-lg btn-block" %>
      <%= link_to 'もどる', root_path, class:"btn btn-secondary btn-lg btn-block" %>
<% end %>
</div>