<div class="text-center">
  <h1>北海道地方の着物情報</h1>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/799601/a4b80278f1b67e15cc1dd9330a969bff_44b578ad3e6c2b9440f670a40e2b8c4b.jpg?width=605", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">優佳良織（ゆうからおり）</h5>
                <p class="card-text">北海道旭川市で生産されている織物。羊毛を染色し紡いだのち、200色以上もの色の糸を使って織るので油絵のような作品が出来上がるのが特徴的です。</p>
                <p class="card-text"><small class="text-muted">旭川出身の木内綾という方により考案された織物で、1960年頃から織りの試作が始められました。（1962年に工房を発足）初めは「ユーカラ織」と表示していました（ユーカラとは、アイヌ民族に伝わる叙事詩の総称です）が、1980年頃に版画家である棟方志功の命名で「優佳良織」と改名。1978年にハンガリーで行われた国際染色ビエンナーレでは金賞を受賞しています。旭川市の北海道伝統美術工芸村の中には「優佳良織工芸館」があり、そこでは優佳良織の展示、はた織体験、販売を行っています。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://miyaharatsumugi.com/files/fabric/1_img_1.jpg", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">厚司織（あつしおり）</h5>
                <p class="card-text">北海道沙流郡平取町が産地のアイヌ民族の織物で、素材はオヒョウの樹皮。やわらかく強靭、そして、アップリケや刺繍を用いて独特のアイヌの文様をほどこしているのが特徴的です。</p>
                <p class="card-text"><small class="text-muted">江戸初期頃から日本本土や大陸方面から衣類を入手するようになったことで、その影響を受けつつ、特に青森県の藍染の木綿が厚司織に大きな影響を与えたと言われています。それまで厚司織は無地物だけでしたが、藍染の木綿を切抜いて、それをアップリケしたり、藍染の木綿をほぐすことによって得た藍糸で、刺繍したりするようになったそう。現在、原料であるオヒョウが少なくなっているので、主にシナノキの繊維が使用されています。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>


<div class="text-center">
<h1>北海道地方のお着物一覧</h1>
</div>

<% if @items.present?%>
  <%= render "shared/kimono" %>
<% else %>
  <%= "北海道地方のお着物はまだ出品されていません。" %>
  <%= "良かったら、お家に眠っているお着物を出品してみませんか？" %>
<% end %>