<div class="text-center">
  <h1>沖縄地方の着物情報</h1>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://story.nakagawa-masashichi.jp/wp-content/uploads/2020/05/bingataTOP01.jpg", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">琉球紅型（りゅうきゅうびんがた）</h5>
                <p class="card-text">沖縄県で生産されている型染の染物。文様は日本や中国の風物などが数多く取り入れられ、柄ゆきや華麗な色彩は南国特有のもの。</p>
                <p class="card-text"><small class="text-muted">琉球紅型の起源は、はっきりとした記録がありませんが、14～15世紀頃の琉球王国は日本本土や中国・東南アジアなどと盛んに交易が行われていたので、その頃に様々な染色品の影響を受けながら、沖縄の気候風土にあった独自の技法を持つ琉球紅型が生まれたと言われています。王族や貴族など、身分が高い人々の衣装や儀式や礼祭などに用いられる特別なものとして利用されており、身分に応じて色合いや模様の大きさが区別されていたそうです。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://sunchi.jp/sunchi_admin/wp-content/uploads/2020/05/bashofuTOP01.jpg", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">芭蕉布（ばしょうふ）</h5>
                <p class="card-text">沖縄県に自生している糸芭蕉の繊維から採った糸で織った織物。軽く張りがあり、通気性が良いのが特徴的です。</p>
                <p class="card-text"><small class="text-muted">起源については諸説ありますが、13世紀頃にはすでに織られていたと言われており、奄美大島から与那国島まで至るところで織られ、海外にも輸出されていたそうです。江戸時代には、日本本土にも芭蕉布が流通していました。「首里芭蕉布」や「今帰仁芭蕉布」など、それぞれの地域で特色のある芭蕉布が織られていましたが、昭和時代に入ると、特に「喜如嘉の芭蕉布」は品質・生産量ともに著しく向上し、村の品評会では他のものとは分けて審査されるほどだったそうです。現在、大宜味村喜如嘉を中心に生産されています。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>

<div class="text-center">
<h1>沖縄地方のお着物一覧</h1>
</div>

<% if @items.present?%>
  <%= render "shared/kimono" %>
<% else %>
  <%= "沖縄地方のお着物はまだ出品されていません。" %>
  <%= "良かったら、お家に眠っているお着物を出品してみませんか？" %>
<% end %>