<div class="text-center">
  <h1>中国地方の着物情報</h1>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://www.buyhiro.com/craft/img/m_bingoL.jpg", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">備後絣（びんごがすり）</h5>
                <p class="card-text">広島県福山市、新市町一帯で生産される木綿絣で、藍色の地にはっきりとした絣模様が特徴。愛媛の「伊予絣」、福岡の「久留米絣」とともに日本三大絣の一つとされています。</p>
                <p class="card-text"><small class="text-muted">備後絣は1853年に富田久三郎によって考案され、当初は「文久絣」と呼ばれていました。備後絣と呼ばれるようになったのは明治時代に入ってから。明治初期に備後絣として全国に出荷されたことで、備後絣の名で知られるようになりました。機械化・合理化とともに生産を伸ばしていき、最盛期である1960年頃には、年間300万反以上を生産し、国内の絣生産の7割を占めていました。現在、後継者不足の問題に対して、備後絣協同組合は福山市の伝統的工芸品伝承事業の委託団体に登録したり、「国のふるさと雇用再生事業」を活用したりと、積極的に活動しています。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= image_tag "https://sugoude.inuiyosuke.jp/db_ja/craft/14_30.jpg", class:"bd-placeholder-img", height:"400", width:"870"  %>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title">弓浜絣（ゆみはまがすり）</h5>
                <p class="card-text">鳥取県米子市、境港市の弓ヶ浜半島で織られている藍染の綿織物。「倉吉絣」、島根の「広瀬絣」とともに山陰地方の三絵絣の一つとされています。「浜絣」とも呼ばれています。</p>
                <p class="card-text"><small class="text-muted">江戸時代に綿花の栽培が始められたそうで、この地域の綿は品質が良く「伯州綿」と呼ばれ、鳥取藩を代表する産業となっていきました。そして、綿を使った織物も盛んになり、これが弓浜絣の起源と言われています。その後、そして文化年間（1804年～1817年）の頃に、「絵絣」が織られるようになりました。弓浜絣は、山陰地方の絣の中でも特に人気が高く、1874年には絣織物の生産量が全国3位に。現在、生産量が少なくなっていますが、「浜絣あいの会」が弓浜絣伝承のための活動を行っており、後継者育成も積極的に行われています。</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>


<div class="text-center">
<h1>中国地方のお着物一覧</h1>
</div>

<% if @items.present?%>
  <%= render "shared/kimono" %>
<% else %>
  <%= "中国地方のお着物はまだ出品されていません。" %>
  <%= "良かったら、お家に眠っているお着物を出品してみませんか？" %>
<% end %>